// 导入公共scss模块
@import "base/base";

body {
    overflow: hidden;
}

.wrap {
    min-width: 920px;
    margin: 0 auto;
    margin-top: 80px;
    canvas {
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 600px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
    }
}

.qrcode {
    position: fixed;
    top: 20px;
    left: 20px;
    border: 1px solid #d6d6d6;
    padding: 3px;
    canvas {
        display: block;
    }
}
